<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pravingaikwad.solapurcityguide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FoodRes"></activity>
        <activity android:name=".IMPOffices" />
        <activity android:name=".ToursTravels" />
        <activity android:name=".SchoolCollege" />
        <activity android:name=".Hotels" />
        <activity android:name=".Hospitals" />
        <activity android:name=".SocialMedia" />
        <activity android:name=".Talent" />
        <activity android:name=".Link" />
        <activity android:name=".Tourism" />
        <activity android:name=".Emergency" />
        <activity android:name=".Bus" />
        <activity android:name=".Train" />
        <activity android:name=".History" />
        <activity android:name=".Devo_info" />
        <activity android:name=".Devotional" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>